<!-- templates/main/upload_form.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>이미지 업로드</title>
    <!-- Django 정적파일 경로로 수정 -->

  <link href="https://fonts.googleapis.com/css2?family=Pretendard&display=swap" rel="stylesheet">
</head>
<body>
  <h1>이미지 업로드</h1>
  <form action="{% url 'image_upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" accept="image/*" required>
    <button type="submit">업로드</button>
  </form>

</body>
</html>